# Ignore everything
*

# Except these folders
!kitty/
!kitty/**
!sway/
!sway/**
!hypr/
!hypr/**
!swaybg/
!swaybg/**
!waybar/
!waybar/**
!wofi/
!wofi/**

# Except these files
!.gitignore
!starship.toml
!README.md
!neofetch.png
