* {
	border: none;
}
window {
	font-size: 25px;
	font-family: "JetBrainsMonoNL Nerd Font";
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
	border-radius: 10px;
	/* border: 3px solid #ffc400; */
}

#entry {
	padding: 0.35em;
}

#entry:selected {
	background-color: #bbccdd;
	background: linear-gradient(90deg, #ffc400, #ff6600);
}

#text:selected {
	color: #333333;
}

#input {
	background-color: rgba(50, 50, 50, 0.5);
	color: white;
	padding: 0.25em;
}
